/* Theme */

main {
	background: #EDEDED;
	color: #4B5658;
}

.icons-social a {
	color: #4B5658;
}

.icons-social a svg path{
	fill: #4B5658;
}

.group-logo {
    filter: opacity(65%);
    height: 95px;
    width: 128px; 
}
